@charset 'UTF-8';
 
body {
    background-color: black;
}
body h1{
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
section {
    background-color: #ffffff;
    width: 500px;
    margin: auto;
    padding: 10px;
    font-family: verdana;
    border-radius: 15px;
    font-size: 1.3em;
}
select#flista {
    width: 150px;
}
input {
   border-radius: 8px;
   border: solid rgba(0, 0, 0, 0.979) 2px;
   padding: 3px;
   outline: 0;
}
#button {
    cursor: pointer;
}
#button:hover {
    background-color: rgba(0, 0, 0, 0.774) ;
    color: white;
}
select {
    border-radius: 3px;
    border: solid 2px black;
}